# [submodule "monodepth2"]
# 	path = monodepth2
# 	url = https://github.com/nianticlabs/monodepth2.git
[submodule "manydepth"]
	path = manydepth
	url = git@github.com:egol2/manydepth.git
	branch = main
